<div class="container">
    <h2>EAT THE VEGGIE BURGER</h2>
    <div class="row">
        <div class="col-md-4" id="uneaten">{{#each uneatenBurger}}
            <li>{{burger_name}}</li>
            {{/each}}
        </div>
        <div class="col-md-4">
            <div id ="input">
                <input type="text" id="newBurger">
                <input type="submit" id="submit">
            </div>
        </div>
        <div class="col-md-4" id="eaten">{{thing}}</div>
        <div class="col-md-4" id="eaten"></div>
    </div>
</div>